<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  From : <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleFromAddressChange($event)" 
  placeholder="From Address"/>
  <p>
         
  To : <input ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleToAddressChange($event)" 
  placeholder="To Address"/>

  <p>
		<button (click)="calculateDistace()">Get Distance</button> {{distance}} KMs
	</p>
  
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>

